Pacg/PgadCommunication/PgadCommunication/wsdl/Versione-2.2/PACG_2.2.wsdl

<?xml version="1.0" encoding="UTF-8"?>

<wsdl:definitions xmlns:xsd1="http://model.ws.contidigioco.sogei.it" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:tns="http://ws.contidigioco.sogei.it" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" targetNamespace="http://ws.contidigioco.sogei.it" name="ContiDiGioco" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">


<wsdl:types>


<xsd:schema>

			<xsd:import schemaLocation="ContiDiGiocoXMLSchema.xsd" namespace="http://model.ws.contidigioco.sogei.it"/>

		</xsd:schema>

	</wsdl:types>


<wsdl:message name="aperturaContoPersonaFisicaMsgRequest">

		<wsdl:part name="parameters" element="xsd1:aperturaContoPersonaFisicaIn"> </wsdl:part>

	</wsdl:message>


<wsdl:message name="aperturaContoPersonaFisicaMsgResponse">

		<wsdl:part name="parameters" element="xsd1:aperturaContoPersonaFisicaOut"> </wsdl:part>

	</wsdl:message>


<wsdl:message name="aperturaContoPersonaGiuridicaMsgRequest">

		<wsdl:part name="parameters" element="xsd1:aperturaContoPersonaGiuridicaIn"> </wsdl:part>

	</wsdl:message>


<wsdl:message name="aperturaContoPersonaGiuridicaMsgResponse">

		<wsdl:part name="parameters" element="xsd1:aperturaContoPersonaGiuridicaOut"> </wsdl:part>

	</wsdl:message>


<wsdl:message name="movimentazioneContoMsgRequest">

		<wsdl:part name="parameters" element="xsd1:movimentazioneContoIn"> </wsdl:part>

	</wsdl:message>


<wsdl:message name="movimentazioneContoMsgResponse">

		<wsdl:part name="parameters" element="xsd1:movimentazioneContoOut"> </wsdl:part>

	</wsdl:message>


<wsdl:message name="movimentazioneBonusContoMsgRequest">

		<wsdl:part name="parameters" element="xsd1:movimentazioneBonusContoIn"> </wsdl:part>

	</wsdl:message>


<wsdl:message name="movimentazioneBonusContoMsgResponse">

		<wsdl:part name="parameters" element="xsd1:movimentazioneBonusContoOut"> </wsdl:part>

	</wsdl:message>


<wsdl:message name="cambioStatoContoMsgRequest">

		<wsdl:part name="parameters" element="xsd1:cambioStatoContoIn"> </wsdl:part>

	</wsdl:message>


<wsdl:message name="cambioStatoContoMsgResponse">

		<wsdl:part name="parameters" element="xsd1:cambioStatoContoOut"> </wsdl:part>

	</wsdl:message>


<wsdl:message name="saldoContoMsgRequest">

		<wsdl:part name="parameters" element="xsd1:saldoContoIn"> </wsdl:part>

	</wsdl:message>


<wsdl:message name="saldoContoMsgResponse">

		<wsdl:part name="parameters" element="xsd1:saldoContoOut"> </wsdl:part>

	</wsdl:message>


<wsdl:message name="modificaProvinciaResidenzaContoMsgRequest">

		<wsdl:part name="parameters" element="xsd1:modificaProvinciaResidenzaContoIn"/>

	</wsdl:message>


<wsdl:message name="modificaProvinciaResidenzaContoMsgResponse">

		<wsdl:part name="parameters" element="xsd1:modificaProvinciaResidenzaContoOut"/>

	</wsdl:message>


<wsdl:message name="interrogazioneStatoContoMsgRequest">

		<wsdl:part name="parameters" element="xsd1:interrogazioneStatoContoIn"/>

	</wsdl:message>


<wsdl:message name="interrogazioneStatoContoMsgResponse">

		<wsdl:part name="parameters" element="xsd1:interrogazioneStatoContoOut"/>

	</wsdl:message>


<wsdl:message name="subregistrazioneMsgRequest">

		<wsdl:part name="parameters" element="xsd1:subregistrazioneIn"/>

	</wsdl:message>


<wsdl:message name="subregistrazioneMsgResponse">

		<wsdl:part name="parameters" element="xsd1:subregistrazioneOut"/>

	</wsdl:message>


<wsdl:message name="aggiornaDatiDocumentoTitolareContoMsgRequest">

		<wsdl:part name="parameters" element="xsd1:aggiornaDatiDocumentoTitolareContoIn"/>

	</wsdl:message>


<wsdl:message name="aggiornaDatiDocumentoTitolareContoMsgResponse">

		<wsdl:part name="parameters" element="xsd1:aggiornaDatiDocumentoTitolareContoOut"/>

	</wsdl:message>


<wsdl:message name="migrazioneContoMsgRequest">

		<wsdl:part name="parameters" element="xsd1:migrazioneContoIn"/>

	</wsdl:message>


<wsdl:message name="migrazioneContoMsgResponse">

		<wsdl:part name="parameters" element="xsd1:migrazioneContoOut"/>

	</wsdl:message>


<wsdl:message name="riepilogoOperazioniMovimentazioneMsgRequest">

		<wsdl:part name="parameters" element="xsd1:riepilogoOperazioniMovimentazioneIn"/>

	</wsdl:message>


<wsdl:message name="riepilogoOperazioniMovimentazioneMsgResponse">

		<wsdl:part name="parameters" element="xsd1:riepilogoOperazioniMovimentazioneOut"/>

	</wsdl:message>


<wsdl:message name="riepilogoOperazioniServizioMsgRequest">

		<wsdl:part name="parameters" element="xsd1:riepilogoOperazioniServizioIn"/>

	</wsdl:message>


<wsdl:message name="riepilogoOperazioniServizioMsgResponse">

		<wsdl:part name="parameters" element="xsd1:riepilogoOperazioniServizioOut"/>

	</wsdl:message>


<wsdl:message name="stornoMovimentazioneContoMsgRequest">

		<wsdl:part name="parameters" element="xsd1:stornoMovimentazioneContoIn"/>

	</wsdl:message>


<wsdl:message name="stornoMovimentazioneContoMsgResponse">

		<wsdl:part name="parameters" element="xsd1:stornoMovimentazioneContoOut"/>

	</wsdl:message>


<wsdl:message name="subregistrazione2MsgRequest">

		<wsdl:part name="parameters" element="xsd1:subregistrazione2In"/>

	</wsdl:message>


<wsdl:message name="subregistrazione2MsgResponse">

		<wsdl:part name="parameters" element="xsd1:subregistrazione2Out"/>

	</wsdl:message>


<wsdl:message name="aperturaSemplificataContoPersonaFisicaMsgRequest">

		<wsdl:part name="parameters" element="xsd1:aperturaSemplificataContoPersonaFisicaIn"> </wsdl:part>

	</wsdl:message>


<wsdl:message name="aperturaSemplificataContoPersonaFisicaMsgResponse">

		<wsdl:part name="parameters" element="xsd1:aperturaSemplificataContoPersonaFisicaOut"> </wsdl:part>

	</wsdl:message>


<wsdl:message name="integrazioneAperturaSemplificataContoPersonaFisicaMsgRequest">

		<wsdl:part name="parameters" element="xsd1:integrazioneAperturaSemplificataContoPersonaFisicaIn"> </wsdl:part>

	</wsdl:message>


<wsdl:message name="integrazioneAperturaSemplificataContoPersonaFisicaMsgResponse">

		<wsdl:part name="parameters" element="xsd1:integrazioneAperturaSemplificataContoPersonaFisicaOut"> </wsdl:part>

	</wsdl:message>


<wsdl:message name="elencoContiSenzaSubregistrazioneMsgRequest">

		<wsdl:part name="parameters" element="xsd1:elencoContiSenzaSubregistrazioneIn"> </wsdl:part>

	</wsdl:message>


<wsdl:message name="elencoContiSenzaSubregistrazioneMsgResponse">

		<wsdl:part name="parameters" element="xsd1:elencoContiSenzaSubregistrazioneOut"> </wsdl:part>

	</wsdl:message>


<wsdl:message name="contoDormienteMsgRequest">

		<wsdl:part name="parameters" element="xsd1:contoDormienteIn"> </wsdl:part>

	</wsdl:message>


<wsdl:message name="contoDormienteMsgResponse">

		<wsdl:part name="parameters" element="xsd1:contoDormienteOut"> </wsdl:part>

	</wsdl:message>


<wsdl:message name="elencoContiDormientiMsgRequest">

		<wsdl:part name="parameters" element="xsd1:elencoContiDormientiIn"> </wsdl:part>

	</wsdl:message>


<wsdl:message name="elencoContiDormientiMsgResponse">

		<wsdl:part name="parameters" element="xsd1:elencoContiDormientiOut"> </wsdl:part>

	</wsdl:message>


<wsdl:message name="interrogazioneEstremiDocumentoMsgRequest">

		<wsdl:part name="parameters" element="xsd1:interrogazioneEstremiDocumentoIn"> </wsdl:part>

	</wsdl:message>


<wsdl:message name="interrogazioneEstremiDocumentoMsgResponse">

		<wsdl:part name="parameters" element="xsd1:interrogazioneEstremiDocumentoOut"> </wsdl:part>

	</wsdl:message>


<wsdl:message name="aggiornaLimiteMsgRequest">

		<wsdl:part name="parameters" element="xsd1:aggiornaLimiteIn"> </wsdl:part>

	</wsdl:message>


<wsdl:message name="aggiornaLimiteMsgResponse">

		<wsdl:part name="parameters" element="xsd1:aggiornaLimiteOut"> </wsdl:part>

	</wsdl:message>


<wsdl:message name="interrogazioneLimitiMsgRequest">

		<wsdl:part name="parameters" element="xsd1:interrogazioneLimitiIn"> </wsdl:part>

	</wsdl:message>


<wsdl:message name="interrogazioneLimitiMsgResponse">

		<wsdl:part name="parameters" element="xsd1:interrogazioneLimitiOut"> </wsdl:part>

	</wsdl:message>


<wsdl:message name="gestioneAutoesclusioneTrasversaleMsgRequest">

		<wsdl:part name="parameters" element="xsd1:gestioneAutoesclusioneTrasversaleIn"> </wsdl:part>

	</wsdl:message>


<wsdl:message name="gestioneAutoesclusioneTrasversaleMsgResponse">

		<wsdl:part name="parameters" element="xsd1:gestioneAutoesclusioneTrasversaleOut"> </wsdl:part>

	</wsdl:message>


<wsdl:message name="elencoContiAutoesclusiMsgRequest">

		<wsdl:part name="parameters" element="xsd1:elencoContiAutoesclusiIn"> </wsdl:part>

	</wsdl:message>


<wsdl:message name="elencoContiAutoesclusiMsgResponse">

		<wsdl:part name="parameters" element="xsd1:elencoContiAutoesclusiOut"> </wsdl:part>

	</wsdl:message>


<wsdl:message name="aperturaContoPersonaFisica2MsgRequest">

		<wsdl:part name="parameters" element="xsd1:aperturaContoPersonaFisica2In"> </wsdl:part>

	</wsdl:message>


<wsdl:message name="aperturaContoPersonaFisica2MsgResponse">

		<wsdl:part name="parameters" element="xsd1:aperturaContoPersonaFisica2Out"> </wsdl:part>

	</wsdl:message>


<wsdl:message name="aperturaSemplificataContoPersonaFisica2MsgRequest">

		<wsdl:part name="parameters" element="xsd1:aperturaSemplificataContoPersonaFisica2In"> </wsdl:part>

	</wsdl:message>


<wsdl:message name="aperturaSemplificataContoPersonaFisica2MsgResponse">

		<wsdl:part name="parameters" element="xsd1:aperturaSemplificataContoPersonaFisica2Out"> </wsdl:part>

	</wsdl:message>


<wsdl:message name="integrazioneAperturaSemplificataContoPersonaFisica2MsgRequest">

		<wsdl:part name="parameters" element="xsd1:integrazioneAperturaSemplificataContoPersonaFisica2In"> </wsdl:part>

	</wsdl:message>


<wsdl:message name="integrazioneAperturaSemplificataContoPersonaFisica2MsgResponse">

		<wsdl:part name="parameters" element="xsd1:integrazioneAperturaSemplificataContoPersonaFisica2Out"> </wsdl:part>

	</wsdl:message>


<wsdl:message name="interrogazioneSoggettoAutoesclusoMsgRequest">

		<wsdl:part name="parameters" element="xsd1:interrogazioneSoggettoAutoesclusoIn"> </wsdl:part>

	</wsdl:message>


<wsdl:message name="interrogazioneSoggettoAutoesclusoMsgResponse">

		<wsdl:part name="parameters" element="xsd1:interrogazioneSoggettoAutoesclusoOut"> </wsdl:part>

	</wsdl:message>


<wsdl:message name="aggiornaPseudonimoContoMsgRequest">

		<wsdl:part name="parameters" element="xsd1:aggiornaPseudonimoContoIn"> </wsdl:part>

	</wsdl:message>


<wsdl:message name="aggiornaPseudonimoContoMsgResponse">

		<wsdl:part name="parameters" element="xsd1:aggiornaPseudonimoContoOut"> </wsdl:part>

	</wsdl:message>


<wsdl:message name="aggiornaPostaElettronicaContoMsgRequest">

		<wsdl:part name="parameters" element="xsd1:aggiornaPostaElettronicaContoIn"> </wsdl:part>

	</wsdl:message>


<wsdl:message name="aggiornaPostaElettronicaContoMsgResponse">

		<wsdl:part name="parameters" element="xsd1:aggiornaPostaElettronicaContoOut"> </wsdl:part>

	</wsdl:message>


<wsdl:message name="interrogazioneStoriaSoggettoAutoesclusoMsgRequest">

		<wsdl:part name="parameters" element="xsd1:interrogazioneStoriaSoggettoAutoesclusoIn"> </wsdl:part>

	</wsdl:message>


<wsdl:message name="interrogazioneStoriaSoggettoAutoesclusoMsgResponse">

		<wsdl:part name="parameters" element="xsd1:interrogazioneStoriaSoggettoAutoesclusoOut"> </wsdl:part>

	</wsdl:message>


<wsdl:message name="interrogazioneProvinciaResidenzaContoMsgRequest">

		<wsdl:part name="parameters" element="xsd1:interrogazioneProvinciaResidenzaContoIn"> </wsdl:part>

	</wsdl:message>


<wsdl:message name="interrogazioneProvinciaResidenzaContoMsgResponse">

		<wsdl:part name="parameters" element="xsd1:interrogazioneProvinciaResidenzaContoOut"> </wsdl:part>

	</wsdl:message>


<wsdl:message name="interrogazionePseudonimoContoMsgRequest">

		<wsdl:part name="parameters" element="xsd1:interrogazionePseudonimoContoIn"> </wsdl:part>

	</wsdl:message>


<wsdl:message name="interrogazionePseudonimoContoMsgResponse">

		<wsdl:part name="parameters" element="xsd1:interrogazionePseudonimoContoOut"> </wsdl:part>

	</wsdl:message>


<wsdl:message name="interrogazionePostaElettronicaContoMsgRequest">

		<wsdl:part name="parameters" element="xsd1:interrogazionePostaElettronicaContoIn"> </wsdl:part>

	</wsdl:message>


<wsdl:message name="interrogazionePostaElettronicaContoMsgResponse">

		<wsdl:part name="parameters" element="xsd1:interrogazionePostaElettronicaContoOut"> </wsdl:part>

	</wsdl:message>


<wsdl:portType name="ContiDiGiocoWS">


<wsdl:operation name="aperturaContoPersonaFisica">

			<wsdl:input message="tns:aperturaContoPersonaFisicaMsgRequest"/>

			<wsdl:output message="tns:aperturaContoPersonaFisicaMsgResponse"/>

		</wsdl:operation>


<wsdl:operation name="aperturaContoPersonaGiuridica">

			<wsdl:input message="tns:aperturaContoPersonaGiuridicaMsgRequest"/>

			<wsdl:output message="tns:aperturaContoPersonaGiuridicaMsgResponse"/>

		</wsdl:operation>


<wsdl:operation name="movimentazioneConto">

			<wsdl:input message="tns:movimentazioneContoMsgRequest"/>

			<wsdl:output message="tns:movimentazioneContoMsgResponse"/>

		</wsdl:operation>


<wsdl:operation name="movimentazioneBonusConto">

			<wsdl:input message="tns:movimentazioneBonusContoMsgRequest"/>

			<wsdl:output message="tns:movimentazioneBonusContoMsgResponse"/>

		</wsdl:operation>


<wsdl:operation name="cambioStatoConto">

			<wsdl:input message="tns:cambioStatoContoMsgRequest"/>

			<wsdl:output message="tns:cambioStatoContoMsgResponse"/>

		</wsdl:operation>


<wsdl:operation name="saldoConto">

			<wsdl:input message="tns:saldoContoMsgRequest"/>

			<wsdl:output message="tns:saldoContoMsgResponse"/>

		</wsdl:operation>


<wsdl:operation name="modificaProvinciaResidenzaConto">

			<wsdl:input message="tns:modificaProvinciaResidenzaContoMsgRequest"/>

			<wsdl:output message="tns:modificaProvinciaResidenzaContoMsgResponse"/>

		</wsdl:operation>


<wsdl:operation name="interrogazioneStatoConto">

			<wsdl:input message="tns:interrogazioneStatoContoMsgRequest"/>

			<wsdl:output message="tns:interrogazioneStatoContoMsgResponse"/>

		</wsdl:operation>


<wsdl:operation name="subregistrazione">

			<wsdl:input message="tns:subregistrazioneMsgRequest"/>

			<wsdl:output message="tns:subregistrazioneMsgResponse"/>

		</wsdl:operation>


<wsdl:operation name="aggiornaDatiDocumentoTitolareConto">

			<wsdl:input message="tns:aggiornaDatiDocumentoTitolareContoMsgRequest"/>

			<wsdl:output message="tns:aggiornaDatiDocumentoTitolareContoMsgResponse"/>

		</wsdl:operation>


<wsdl:operation name="migrazioneConto">

			<wsdl:input message="tns:migrazioneContoMsgRequest"/>

			<wsdl:output message="tns:migrazioneContoMsgResponse"/>

		</wsdl:operation>


<wsdl:operation name="riepilogoOperazioniMovimentazione">

			<wsdl:input message="tns:riepilogoOperazioniMovimentazioneMsgRequest"/>

			<wsdl:output message="tns:riepilogoOperazioniMovimentazioneMsgResponse"/>

		</wsdl:operation>


<wsdl:operation name="riepilogoOperazioniServizio">

			<wsdl:input message="tns:riepilogoOperazioniServizioMsgRequest"/>

			<wsdl:output message="tns:riepilogoOperazioniServizioMsgResponse"/>

		</wsdl:operation>


<wsdl:operation name="stornoMovimentazioneConto">

			<wsdl:input message="tns:stornoMovimentazioneContoMsgRequest"/>

			<wsdl:output message="tns:stornoMovimentazioneContoMsgResponse"/>

		</wsdl:operation>


<wsdl:operation name="subregistrazione2">

			<wsdl:input message="tns:subregistrazione2MsgRequest"/>

			<wsdl:output message="tns:subregistrazione2MsgResponse"/>

		</wsdl:operation>


<wsdl:operation name="aperturaSemplificataContoPersonaFisica">

			<wsdl:input message="tns:aperturaSemplificataContoPersonaFisicaMsgRequest"/>

			<wsdl:output message="tns:aperturaSemplificataContoPersonaFisicaMsgResponse"/>

		</wsdl:operation>


<wsdl:operation name="integrazioneAperturaSemplificataContoPersonaFisica">

			<wsdl:input message="tns:integrazioneAperturaSemplificataContoPersonaFisicaMsgRequest"/>

			<wsdl:output message="tns:integrazioneAperturaSemplificataContoPersonaFisicaMsgResponse"/>

		</wsdl:operation>


<wsdl:operation name="elencoContiSenzaSubregistrazione">

			<wsdl:input message="tns:elencoContiSenzaSubregistrazioneMsgRequest"/>

			<wsdl:output message="tns:elencoContiSenzaSubregistrazioneMsgResponse"/>

		</wsdl:operation>


<wsdl:operation name="contoDormiente">

			<wsdl:input message="tns:contoDormienteMsgRequest"/>

			<wsdl:output message="tns:contoDormienteMsgResponse"/>

		</wsdl:operation>


<wsdl:operation name="elencoContiDormienti">

			<wsdl:input message="tns:elencoContiDormientiMsgRequest"/>

			<wsdl:output message="tns:elencoContiDormientiMsgResponse"/>

		</wsdl:operation>


<wsdl:operation name="interrogazioneEstremiDocumento">

			<wsdl:input message="tns:interrogazioneEstremiDocumentoMsgRequest"/>

			<wsdl:output message="tns:interrogazioneEstremiDocumentoMsgResponse"/>

		</wsdl:operation>


<wsdl:operation name="aggiornaLimite">

			<wsdl:input message="tns:aggiornaLimiteMsgRequest"/>

			<wsdl:output message="tns:aggiornaLimiteMsgResponse"/>

		</wsdl:operation>


<wsdl:operation name="interrogazioneLimiti">

			<wsdl:input message="tns:interrogazioneLimitiMsgRequest"/>

			<wsdl:output message="tns:interrogazioneLimitiMsgResponse"/>

		</wsdl:operation>


<wsdl:operation name="gestioneAutoesclusioneTrasversale">

			<wsdl:input message="tns:gestioneAutoesclusioneTrasversaleMsgRequest"/>

			<wsdl:output message="tns:gestioneAutoesclusioneTrasversaleMsgResponse"/>

		</wsdl:operation>


<wsdl:operation name="elencoContiAutoesclusi">

			<wsdl:input message="tns:elencoContiAutoesclusiMsgRequest"/>

			<wsdl:output message="tns:elencoContiAutoesclusiMsgResponse"/>

		</wsdl:operation>


<wsdl:operation name="aperturaContoPersonaFisica2">

			<wsdl:input message="tns:aperturaContoPersonaFisica2MsgRequest"/>

			<wsdl:output message="tns:aperturaContoPersonaFisica2MsgResponse"/>

		</wsdl:operation>


<wsdl:operation name="aperturaSemplificataContoPersonaFisica2">

			<wsdl:input message="tns:aperturaSemplificataContoPersonaFisica2MsgRequest"/>

			<wsdl:output message="tns:aperturaSemplificataContoPersonaFisica2MsgResponse"/>

		</wsdl:operation>


<wsdl:operation name="integrazioneAperturaSemplificataContoPersonaFisica2">

			<wsdl:input message="tns:integrazioneAperturaSemplificataContoPersonaFisica2MsgRequest"/>

			<wsdl:output message="tns:integrazioneAperturaSemplificataContoPersonaFisica2MsgResponse"/>

		</wsdl:operation>


<wsdl:operation name="interrogazioneSoggettoAutoescluso">

			<wsdl:input message="tns:interrogazioneSoggettoAutoesclusoMsgRequest"/>

			<wsdl:output message="tns:interrogazioneSoggettoAutoesclusoMsgResponse"/>

		</wsdl:operation>


<wsdl:operation name="aggiornaPseudonimoConto">

			<wsdl:input message="tns:aggiornaPseudonimoContoMsgRequest"/>

			<wsdl:output message="tns:aggiornaPseudonimoContoMsgResponse"/>

		</wsdl:operation>


<wsdl:operation name="aggiornaPostaElettronicaConto">

			<wsdl:input message="tns:aggiornaPostaElettronicaContoMsgRequest"/>

			<wsdl:output message="tns:aggiornaPostaElettronicaContoMsgResponse"/>

		</wsdl:operation>


<wsdl:operation name="interrogazioneStoriaSoggettoAutoescluso">

			<wsdl:input message="tns:interrogazioneStoriaSoggettoAutoesclusoMsgRequest"/>

			<wsdl:output message="tns:interrogazioneStoriaSoggettoAutoesclusoMsgResponse"/>

		</wsdl:operation>


<wsdl:operation name="interrogazioneProvinciaResidenzaConto">

			<wsdl:input message="tns:interrogazioneProvinciaResidenzaContoMsgRequest"/>

			<wsdl:output message="tns:interrogazioneProvinciaResidenzaContoMsgResponse"/>

		</wsdl:operation>


<wsdl:operation name="interrogazionePseudonimoConto">

			<wsdl:input message="tns:interrogazionePseudonimoContoMsgRequest"/>

			<wsdl:output message="tns:interrogazionePseudonimoContoMsgResponse"/>

		</wsdl:operation>


<wsdl:operation name="interrogazionePostaElettronicaConto">

			<wsdl:input message="tns:interrogazionePostaElettronicaContoMsgRequest"/>

			<wsdl:output message="tns:interrogazionePostaElettronicaContoMsgResponse"/>

		</wsdl:operation>

	</wsdl:portType>


<wsdl:binding name="ContiDiGiocoPortBinding" type="tns:ContiDiGiocoWS">

		<soap:binding transport="http://schemas.xmlsoap.org/soap/http" style="document"/>


<wsdl:operation name="aperturaContoPersonaFisica">

			<soap:operation soapAction="http://ws.contidigioco.sogei.it/aperturaContoPersonaFisica"/>


<wsdl:input>

				<soap:body use="literal"/>

			</wsdl:input>


<wsdl:output>

				<soap:body use="literal"/>

			</wsdl:output>

		</wsdl:operation>


<wsdl:operation name="aperturaContoPersonaGiuridica">

			<soap:operation soapAction="http://ws.contidigioco.sogei.it/aperturaContoPersonaGiuridica"/>


<wsdl:input>

				<soap:body use="literal"/>

			</wsdl:input>


<wsdl:output>

				<soap:body use="literal"/>

			</wsdl:output>

		</wsdl:operation>


<wsdl:operation name="movimentazioneConto">

			<soap:operation soapAction="http://ws.contidigioco.sogei.it/movimentazioneConto"/>


<wsdl:input>

				<soap:body use="literal"/>

			</wsdl:input>


<wsdl:output>

				<soap:body use="literal"/>

			</wsdl:output>

		</wsdl:operation>


<wsdl:operation name="movimentazioneBonusConto">

			<soap:operation soapAction="http://ws.contidigioco.sogei.it/movimentazioneBonusConto"/>


<wsdl:input>

				<soap:body use="literal"/>

			</wsdl:input>


<wsdl:output>

				<soap:body use="literal"/>

			</wsdl:output>

		</wsdl:operation>


<wsdl:operation name="cambioStatoConto">

			<soap:operation soapAction="http://ws.contidigioco.sogei.it/cambioStatoConto"/>


<wsdl:input>

				<soap:body use="literal"/>

			</wsdl:input>


<wsdl:output>

				<soap:body use="literal"/>

			</wsdl:output>

		</wsdl:operation>


<wsdl:operation name="saldoConto">

			<soap:operation soapAction="http://ws.contidigioco.sogei.it/saldoConto"/>


<wsdl:input>

				<soap:body use="literal"/>

			</wsdl:input>


<wsdl:output>

				<soap:body use="literal"/>

			</wsdl:output>

		</wsdl:operation>


<wsdl:operation name="modificaProvinciaResidenzaConto">

			<soap:operation soapAction="http://ws.contidigioco.sogei.it/modificaProvinciaResidenzaConto"/>


<wsdl:input>

				<soap:body use="literal"/>

			</wsdl:input>


<wsdl:output>

				<soap:body use="literal"/>

			</wsdl:output>

		</wsdl:operation>


<wsdl:operation name="interrogazioneStatoConto">

			<soap:operation soapAction="http://ws.contidigioco.sogei.it/interrogazioneStatoConto"/>


<wsdl:input>

				<soap:body use="literal"/>

			</wsdl:input>


<wsdl:output>

				<soap:body use="literal"/>

			</wsdl:output>

		</wsdl:operation>


<wsdl:operation name="subregistrazione">

			<soap:operation soapAction="http://ws.contidigioco.sogei.it/subregistrazione"/>


<wsdl:input>

				<soap:body use="literal"/>

			</wsdl:input>


<wsdl:output>

				<soap:body use="literal"/>

			</wsdl:output>

		</wsdl:operation>


<wsdl:operation name="aggiornaDatiDocumentoTitolareConto">

			<soap:operation soapAction="http://ws.contidigioco.sogei.it/aggiornaDatiDocumentoTitolareConto"/>


<wsdl:input>

				<soap:body use="literal"/>

			</wsdl:input>


<wsdl:output>

				<soap:body use="literal"/>

			</wsdl:output>

		</wsdl:operation>


<wsdl:operation name="migrazioneConto">

			<soap:operation soapAction="http://ws.contidigioco.sogei.it/migrazioneConto"/>


<wsdl:input>

				<soap:body use="literal"/>

			</wsdl:input>


<wsdl:output>

				<soap:body use="literal"/>

			</wsdl:output>

		</wsdl:operation>


<wsdl:operation name="riepilogoOperazioniMovimentazione">

			<soap:operation soapAction="http://ws.contidigioco.sogei.it/riepilogoOperazioniMovimentazione"/>


<wsdl:input>

				<soap:body use="literal"/>

			</wsdl:input>


<wsdl:output>

				<soap:body use="literal"/>

			</wsdl:output>

		</wsdl:operation>


<wsdl:operation name="riepilogoOperazioniServizio">

			<soap:operation soapAction="http://ws.contidigioco.sogei.it/riepilogoOperazioniServizio"/>


<wsdl:input>

				<soap:body use="literal"/>

			</wsdl:input>


<wsdl:output>

				<soap:body use="literal"/>

			</wsdl:output>

		</wsdl:operation>


<wsdl:operation name="stornoMovimentazioneConto">

			<soap:operation soapAction="http://ws.contidigioco.sogei.it/stornoMovimentazioneConto"/>


<wsdl:input>

				<soap:body use="literal"/>

			</wsdl:input>


<wsdl:output>

				<soap:body use="literal"/>

			</wsdl:output>

		</wsdl:operation>


<wsdl:operation name="subregistrazione2">

			<soap:operation soapAction="http://ws.contidigioco.sogei.it/subregistrazione2"/>


<wsdl:input>

				<soap:body use="literal"/>

			</wsdl:input>


<wsdl:output>

				<soap:body use="literal"/>

			</wsdl:output>

		</wsdl:operation>


<wsdl:operation name="aperturaSemplificataContoPersonaFisica">

			<soap:operation soapAction="http://ws.contidigioco.sogei.it/aperturaSemplificataContoPersonaFisica"/>


<wsdl:input>

				<soap:body use="literal"/>

			</wsdl:input>


<wsdl:output>

				<soap:body use="literal"/>

			</wsdl:output>

		</wsdl:operation>


<wsdl:operation name="integrazioneAperturaSemplificataContoPersonaFisica">

			<soap:operation soapAction="http://ws.contidigioco.sogei.it/integrazioneAperturaSemplificataContoPersonaFisica"/>


<wsdl:input>

				<soap:body use="literal"/>

			</wsdl:input>


<wsdl:output>

				<soap:body use="literal"/>

			</wsdl:output>

		</wsdl:operation>


<wsdl:operation name="elencoContiSenzaSubregistrazione">

			<soap:operation soapAction="http://ws.contidigioco.sogei.it/elencoContiSenzaSubregistrazione"/>


<wsdl:input>

				<soap:body use="literal"/>

			</wsdl:input>


<wsdl:output>

				<soap:body use="literal"/>

			</wsdl:output>

		</wsdl:operation>


<wsdl:operation name="contoDormiente">

			<soap:operation soapAction="http://ws.contidigioco.sogei.it/contoDormiente"/>


<wsdl:input>

				<soap:body use="literal"/>

			</wsdl:input>


<wsdl:output>

				<soap:body use="literal"/>

			</wsdl:output>

		</wsdl:operation>


<wsdl:operation name="elencoContiDormienti">

			<soap:operation soapAction="http://ws.contidigioco.sogei.it/elencoContiDormienti"/>


<wsdl:input>

				<soap:body use="literal"/>

			</wsdl:input>


<wsdl:output>

				<soap:body use="literal"/>

			</wsdl:output>

		</wsdl:operation>


<wsdl:operation name="interrogazioneEstremiDocumento">

			<soap:operation soapAction="http://ws.contidigioco.sogei.it/interrogazioneEstremiDocumento"/>


<wsdl:input>

				<soap:body use="literal"/>

			</wsdl:input>


<wsdl:output>

				<soap:body use="literal"/>

			</wsdl:output>

		</wsdl:operation>


<wsdl:operation name="aggiornaLimite">

			<soap:operation soapAction="http://ws.contidigioco.sogei.it/aggiornaLimite"/>


<wsdl:input>

				<soap:body use="literal"/>

			</wsdl:input>


<wsdl:output>

				<soap:body use="literal"/>

			</wsdl:output>

		</wsdl:operation>


<wsdl:operation name="interrogazioneLimiti">

			<soap:operation soapAction="http://ws.contidigioco.sogei.it/interrogazioneLimiti"/>


<wsdl:input>

				<soap:body use="literal"/>

			</wsdl:input>


<wsdl:output>

				<soap:body use="literal"/>

			</wsdl:output>

		</wsdl:operation>


<wsdl:operation name="gestioneAutoesclusioneTrasversale">

			<soap:operation soapAction="http://ws.contidigioco.sogei.it/gestioneAutoesclusioneTrasversale"/>


<wsdl:input>

				<soap:body use="literal"/>

			</wsdl:input>


<wsdl:output>

				<soap:body use="literal"/>

			</wsdl:output>

		</wsdl:operation>


<wsdl:operation name="elencoContiAutoesclusi">

			<soap:operation soapAction="http://ws.contidigioco.sogei.it/elencoContiAutoesclusi"/>


<wsdl:input>

				<soap:body use="literal"/>

			</wsdl:input>


<wsdl:output>

				<soap:body use="literal"/>

			</wsdl:output>

		</wsdl:operation>


<wsdl:operation name="aperturaContoPersonaFisica2">

			<soap:operation soapAction="http://ws.contidigioco.sogei.it/aperturaContoPersonaFisica2"/>


<wsdl:input>

				<soap:body use="literal"/>

			</wsdl:input>


<wsdl:output>

				<soap:body use="literal"/>

			</wsdl:output>

		</wsdl:operation>


<wsdl:operation name="aperturaSemplificataContoPersonaFisica2">

			<soap:operation soapAction="http://ws.contidigioco.sogei.it/aperturaSemplificataContoPersonaFisica2"/>


<wsdl:input>

				<soap:body use="literal"/>

			</wsdl:input>


<wsdl:output>

				<soap:body use="literal"/>

			</wsdl:output>

		</wsdl:operation>


<wsdl:operation name="integrazioneAperturaSemplificataContoPersonaFisica2">

			<soap:operation soapAction="http://ws.contidigioco.sogei.it/integrazioneAperturaSemplificataContoPersonaFisica2"/>


<wsdl:input>

				<soap:body use="literal"/>

			</wsdl:input>


<wsdl:output>

				<soap:body use="literal"/>

			</wsdl:output>

		</wsdl:operation>


<wsdl:operation name="interrogazioneSoggettoAutoescluso">

			<soap:operation soapAction="http://ws.contidigioco.sogei.it/interrogazioneSoggettoAutoescluso"/>


<wsdl:input>

				<soap:body use="literal"/>

			</wsdl:input>


<wsdl:output>

				<soap:body use="literal"/>

			</wsdl:output>

		</wsdl:operation>


<wsdl:operation name="aggiornaPseudonimoConto">

			<soap:operation soapAction="http://ws.contidigioco.sogei.it/aggiornaPseudonimoConto"/>


<wsdl:input>

				<soap:body use="literal"/>

			</wsdl:input>


<wsdl:output>

				<soap:body use="literal"/>

			</wsdl:output>

		</wsdl:operation>


<wsdl:operation name="aggiornaPostaElettronicaConto">

			<soap:operation soapAction="http://ws.contidigioco.sogei.it/aggiornaPostaElettronicaConto"/>


<wsdl:input>

				<soap:body use="literal"/>

			</wsdl:input>


<wsdl:output>

				<soap:body use="literal"/>

			</wsdl:output>

		</wsdl:operation>


<wsdl:operation name="interrogazioneStoriaSoggettoAutoescluso">

			<soap:operation soapAction="http://ws.contidigioco.sogei.it/interrogazioneStoriaSoggettoAutoescluso"/>


<wsdl:input>

				<soap:body use="literal"/>

			</wsdl:input>


<wsdl:output>

				<soap:body use="literal"/>

			</wsdl:output>

		</wsdl:operation>


<wsdl:operation name="interrogazioneProvinciaResidenzaConto">

			<soap:operation soapAction="http://ws.contidigioco.sogei.it/interrogazioneProvinciaResidenzaConto"/>


<wsdl:input>

				<soap:body use="literal"/>

			</wsdl:input>


<wsdl:output>

				<soap:body use="literal"/>

			</wsdl:output>

		</wsdl:operation>


<wsdl:operation name="interrogazionePseudonimoConto">

			<soap:operation soapAction="http://ws.contidigioco.sogei.it/interrogazionePseudonimoConto"/>


<wsdl:input>

				<soap:body use="literal"/>

			</wsdl:input>


<wsdl:output>

				<soap:body use="literal"/>

			</wsdl:output>

		</wsdl:operation>


<wsdl:operation name="interrogazionePostaElettronicaConto">

			<soap:operation soapAction="http://ws.contidigioco.sogei.it/interrogazionePostaElettronicaConto"/>


<wsdl:input>

				<soap:body use="literal"/>

			</wsdl:input>


<wsdl:output>

				<soap:body use="literal"/>

			</wsdl:output>

		</wsdl:operation>

	</wsdl:binding>


<wsdl:service name="ContiDiGiocoService">


<wsdl:port name="ContiDiGiocoPort" binding="tns:ContiDiGiocoPortBinding">

			<soap:address location="https://anagcontitest.giochi.adm.gov.it/ContiDiGioco/services/ContiDiGiocoPort"/>

		</wsdl:port>

	</wsdl:service>

</wsdl:definitions>