Pacg/PgadCommunication/PgadCommunication/wsdl/Versione-1.4/ContiDiGioco.wsdl

<?xml version="1.0" encoding="UTF-8"?>
<wsdl:definitions xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tns="http://ws.contidigioco.sogei.it" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:xsd1="http://model.ws.contidigioco.sogei.it" name="ContiDiGioco" targetNamespace="http://ws.contidigioco.sogei.it">
	<wsdl:types>
		<xsd:schema>
			<xsd:import namespace="http://model.ws.contidigioco.sogei.it" schemaLocation="ContiDiGiocoXMLSchema.xsd"/>
		</xsd:schema>
	</wsdl:types>
	<wsdl:message name="aperturaContoPersonaFisicaMsgRequest"> 
		<wsdl:part element="xsd1:aperturaContoPersonaFisicaIn" name="parameters">
		</wsdl:part>
	</wsdl:message>
	<wsdl:message name="aperturaContoPersonaFisicaMsgResponse">
		<wsdl:part element="xsd1:aperturaContoPersonaFisicaOut" name="parameters">
		</wsdl:part>
	</wsdl:message>
	<wsdl:message name="aperturaContoPersonaGiuridicaMsgRequest">
		<wsdl:part element="xsd1:aperturaContoPersonaGiuridicaIn" name="parameters">
		</wsdl:part>
	</wsdl:message>
	<wsdl:message name="aperturaContoPersonaGiuridicaMsgResponse">
		<wsdl:part element="xsd1:aperturaContoPersonaGiuridicaOut" name="parameters">
		</wsdl:part>
	</wsdl:message>
	<wsdl:message name="movimentazioneContoMsgRequest">
		<wsdl:part element="xsd1:movimentazioneContoIn" name="parameters">
		</wsdl:part>
	</wsdl:message>
	<wsdl:message name="movimentazioneContoMsgResponse">
		<wsdl:part element="xsd1:movimentazioneContoOut" name="parameters">
		</wsdl:part>
	</wsdl:message>
	<wsdl:message name="movimentazioneBonusContoMsgRequest">
		<wsdl:part element="xsd1:movimentazioneBonusContoIn" name="parameters">
		</wsdl:part>
	</wsdl:message>
	<wsdl:message name="movimentazioneBonusContoMsgResponse">
		<wsdl:part element="xsd1:movimentazioneBonusContoOut" name="parameters">
		</wsdl:part>
	</wsdl:message>
	<wsdl:message name="cambioStatoContoMsgRequest">
		<wsdl:part element="xsd1:cambioStatoContoIn" name="parameters">
		</wsdl:part>
	</wsdl:message>
	<wsdl:message name="cambioStatoContoMsgResponse">
		<wsdl:part element="xsd1:cambioStatoContoOut" name="parameters">
		</wsdl:part>
	</wsdl:message>
	<wsdl:message name="saldoContoMsgRequest">
		<wsdl:part element="xsd1:saldoContoIn" name="parameters">
		</wsdl:part>
	</wsdl:message>
	<wsdl:message name="saldoContoMsgResponse">
		<wsdl:part element="xsd1:saldoContoOut" name="parameters">
		</wsdl:part>
	</wsdl:message>
	<wsdl:message name="modificaProvinciaResidenzaContoMsgRequest">
		<wsdl:part element="xsd1:modificaProvinciaResidenzaContoIn" name="parameters"/>
	</wsdl:message>
	<wsdl:message name="modificaProvinciaResidenzaContoMsgResponse">
		<wsdl:part element="xsd1:modificaProvinciaResidenzaContoOut" name="parameters"/>
	</wsdl:message>
	<wsdl:message name="interrogazioneStatoContoMsgRequest">
		<wsdl:part element="xsd1:interrogazioneStatoContoIn" name="parameters"/>
	</wsdl:message>
	<wsdl:message name="interrogazioneStatoContoMsgResponse">
		<wsdl:part element="xsd1:interrogazioneStatoContoOut" name="parameters"/>
	</wsdl:message>	
	<wsdl:message name="subregistrazioneMsgRequest">
		<wsdl:part element="xsd1:subregistrazioneIn" name="parameters"/>
	</wsdl:message>
	<wsdl:message name="subregistrazioneMsgResponse">
		<wsdl:part element="xsd1:subregistrazioneOut" name="parameters"/>
	</wsdl:message>	
	<wsdl:portType name="ContiDiGiocoWS">
		<wsdl:operation name="aperturaContoPersonaFisica">
			<wsdl:input message="tns:aperturaContoPersonaFisicaMsgRequest"/>
			<wsdl:output message="tns:aperturaContoPersonaFisicaMsgResponse"/>
		</wsdl:operation>
		<wsdl:operation name="aperturaContoPersonaGiuridica">
			<wsdl:input message="tns:aperturaContoPersonaGiuridicaMsgRequest"/>
			<wsdl:output message="tns:aperturaContoPersonaGiuridicaMsgResponse"/>
		</wsdl:operation>
		<wsdl:operation name="movimentazioneConto">
			<wsdl:input message="tns:movimentazioneContoMsgRequest"/>
			<wsdl:output message="tns:movimentazioneContoMsgResponse"/>
		</wsdl:operation>
		<wsdl:operation name="movimentazioneBonusConto">
			<wsdl:input message="tns:movimentazioneBonusContoMsgRequest"/>
			<wsdl:output message="tns:movimentazioneBonusContoMsgResponse"/>
		</wsdl:operation>
		<wsdl:operation name="cambioStatoConto">
			<wsdl:input message="tns:cambioStatoContoMsgRequest"/>
			<wsdl:output message="tns:cambioStatoContoMsgResponse"/>
		</wsdl:operation>
		<wsdl:operation name="saldoConto">
			<wsdl:input message="tns:saldoContoMsgRequest"/>
			<wsdl:output message="tns:saldoContoMsgResponse"/>
		</wsdl:operation>
        <wsdl:operation name="modificaProvinciaResidenzaConto">
        	<wsdl:input message="tns:modificaProvinciaResidenzaContoMsgRequest"/>
        	<wsdl:output message="tns:modificaProvinciaResidenzaContoMsgResponse"/>
        </wsdl:operation>
        <wsdl:operation name="interrogazioneStatoConto">
        	<wsdl:input message="tns:interrogazioneStatoContoMsgRequest"/>
        	<wsdl:output message="tns:interrogazioneStatoContoMsgResponse"/>
        </wsdl:operation>
        <wsdl:operation name="subregistrazione">
        	<wsdl:input message="tns:subregistrazioneMsgRequest"/>
        	<wsdl:output message="tns:subregistrazioneMsgResponse"/>
        </wsdl:operation>        
    </wsdl:portType>
	<wsdl:binding name="ContiDiGiocoPortBinding" type="tns:ContiDiGiocoWS">
		<soap:binding style="document" transport="http://schemas.xmlsoap.org/soap/http"/>
		<wsdl:operation name="aperturaContoPersonaFisica">
			<soap:operation soapAction="http://ws.contidigioco.sogei.it/aperturaContoPersonaFisica"/>
			<wsdl:input>
				<soap:body use="literal"/>
			</wsdl:input>
			<wsdl:output>
				<soap:body use="literal"/>
			</wsdl:output>
		</wsdl:operation>
		<wsdl:operation name="aperturaContoPersonaGiuridica">
			<soap:operation soapAction="http://ws.contidigioco.sogei.it/aperturaContoPersonaGiuridica"/>
			<wsdl:input>
				<soap:body use="literal"/>
			</wsdl:input>
			<wsdl:output>
				<soap:body use="literal"/>
			</wsdl:output>
		</wsdl:operation>
		<wsdl:operation name="movimentazioneConto">
			<soap:operation soapAction="http://ws.contidigioco.sogei.it/movimentazioneConto"/>
			<wsdl:input>
				<soap:body use="literal"/>
			</wsdl:input>
			<wsdl:output>
				<soap:body use="literal"/>
			</wsdl:output>
		</wsdl:operation>
		<wsdl:operation name="movimentazioneBonusConto">
			<soap:operation soapAction="http://ws.contidigioco.sogei.it/movimentazioneBonusConto"/>
			<wsdl:input>
				<soap:body use="literal"/>
			</wsdl:input>
			<wsdl:output>
				<soap:body use="literal"/>
			</wsdl:output>
		</wsdl:operation>
		<wsdl:operation name="cambioStatoConto">
			<soap:operation soapAction="http://ws.contidigioco.sogei.it/cambioStatoConto"/>
			<wsdl:input>
				<soap:body use="literal"/>
			</wsdl:input>
			<wsdl:output>
				<soap:body use="literal"/>
			</wsdl:output>
		</wsdl:operation>
		<wsdl:operation name="saldoConto">
			<soap:operation soapAction="http://ws.contidigioco.sogei.it/saldoConto"/>
			<wsdl:input>
				<soap:body use="literal"/>
			</wsdl:input>
			<wsdl:output>
				<soap:body use="literal"/>
			</wsdl:output>
		</wsdl:operation>
		<wsdl:operation name="modificaProvinciaResidenzaConto">
			<soap:operation soapAction="http://ws.contidigioco.sogei.it/modificaProvinciaResidenzaConto"/>
			<wsdl:input>
				<soap:body use="literal"/>
			</wsdl:input>
			<wsdl:output>
				<soap:body use="literal"/>
			</wsdl:output>
		</wsdl:operation>
		<wsdl:operation name="interrogazioneStatoConto">
			<soap:operation soapAction="http://ws.contidigioco.sogei.it/interrogazioneStatoConto"/>
			<wsdl:input>
				<soap:body use="literal"/>
			</wsdl:input>
			<wsdl:output>
				<soap:body use="literal"/>
			</wsdl:output>
		</wsdl:operation>
		<wsdl:operation name="subregistrazione">
			<soap:operation soapAction="http://ws.contidigioco.sogei.it/subregistrazione"/>
			<wsdl:input>
				<soap:body use="literal"/>
			</wsdl:input>
			<wsdl:output>
				<soap:body use="literal"/>
			</wsdl:output>
		</wsdl:operation>				
	</wsdl:binding>
	<wsdl:service name="ContiDiGiocoService">
		<wsdl:port binding="tns:ContiDiGiocoPortBinding" name="ContiDiGiocoPort">
			<soap:address location="https://anagcontitest.giochi.aams.it:5000/ContiDiGioco/services/ContiDiGiocoPort"/>
		</wsdl:port>
	</wsdl:service>
</wsdl:definitions>
