Pacg/PgadCommunication/PgadCommunication/wsdl/Versione-1.5/PGAD-1.5.WSDL

<?xml version="1.0" encoding="UTF-8"?><wsdl:definitions name="ContiDiGioco" targetNamespace="http://ws.contidigioco.sogei.it" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tns="http://ws.contidigioco.sogei.it" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:xsd1="http://model.ws.contidigioco.sogei.it">
	<wsdl:types>
		<xsd:schema>
			<xsd:import namespace="http://model.ws.contidigioco.sogei.it" schemaLocation="ContiDiGiocoXMLSchema.xsd"/>
		</xsd:schema>
	</wsdl:types>
	<wsdl:message name="aperturaContoPersonaFisicaMsgRequest"> 
		<wsdl:part element="xsd1:aperturaContoPersonaFisicaIn" name="parameters">
		</wsdl:part>
	</wsdl:message>
	<wsdl:message name="aperturaContoPersonaFisicaMsgResponse">
		<wsdl:part element="xsd1:aperturaContoPersonaFisicaOut" name="parameters">
		</wsdl:part>
	</wsdl:message>
	<wsdl:message name="aperturaContoPersonaGiuridicaMsgRequest">
		<wsdl:part element="xsd1:aperturaContoPersonaGiuridicaIn" name="parameters">
		</wsdl:part>
	</wsdl:message>
	<wsdl:message name="aperturaContoPersonaGiuridicaMsgResponse">
		<wsdl:part element="xsd1:aperturaContoPersonaGiuridicaOut" name="parameters">
		</wsdl:part>
	</wsdl:message>
	<wsdl:message name="movimentazioneContoMsgRequest">
		<wsdl:part element="xsd1:movimentazioneContoIn" name="parameters">
		</wsdl:part>
	</wsdl:message>
	<wsdl:message name="movimentazioneContoMsgResponse">
		<wsdl:part element="xsd1:movimentazioneContoOut" name="parameters">
		</wsdl:part>
	</wsdl:message>
	<wsdl:message name="movimentazioneBonusContoMsgRequest">
		<wsdl:part element="xsd1:movimentazioneBonusContoIn" name="parameters">
		</wsdl:part>
	</wsdl:message>
	<wsdl:message name="movimentazioneBonusContoMsgResponse">
		<wsdl:part element="xsd1:movimentazioneBonusContoOut" name="parameters">
		</wsdl:part>
	</wsdl:message>
	<wsdl:message name="cambioStatoContoMsgRequest">
		<wsdl:part element="xsd1:cambioStatoContoIn" name="parameters">
		</wsdl:part>
	</wsdl:message>
	<wsdl:message name="cambioStatoContoMsgResponse">
		<wsdl:part element="xsd1:cambioStatoContoOut" name="parameters">
		</wsdl:part>
	</wsdl:message>
	<wsdl:message name="saldoContoMsgRequest">
		<wsdl:part element="xsd1:saldoContoIn" name="parameters">
		</wsdl:part>
	</wsdl:message>
	<wsdl:message name="saldoContoMsgResponse">
		<wsdl:part element="xsd1:saldoContoOut" name="parameters">
		</wsdl:part>
	</wsdl:message>
	<wsdl:message name="modificaProvinciaResidenzaContoMsgRequest">
		<wsdl:part element="xsd1:modificaProvinciaResidenzaContoIn" name="parameters"/>
	</wsdl:message>
	<wsdl:message name="modificaProvinciaResidenzaContoMsgResponse">
		<wsdl:part element="xsd1:modificaProvinciaResidenzaContoOut" name="parameters"/>
	</wsdl:message>
	<wsdl:message name="interrogazioneStatoContoMsgRequest">
		<wsdl:part element="xsd1:interrogazioneStatoContoIn" name="parameters"/>
	</wsdl:message>
	<wsdl:message name="interrogazioneStatoContoMsgResponse">
		<wsdl:part element="xsd1:interrogazioneStatoContoOut" name="parameters"/>
	</wsdl:message>	
	<wsdl:message name="subregistrazioneMsgRequest">
		<wsdl:part element="xsd1:subregistrazioneIn" name="parameters"/>
	</wsdl:message>
	<wsdl:message name="subregistrazioneMsgResponse">
		<wsdl:part element="xsd1:subregistrazioneOut" name="parameters"/>		
	</wsdl:message>	
	<wsdl:message name="aggiornaDatiDocumentoTitolareContoMsgRequest">
		<wsdl:part element="xsd1:aggiornaDatiDocumentoTitolareContoIn" name="parameters"/>
	</wsdl:message>
	<wsdl:message name="aggiornaDatiDocumentoTitolareContoMsgResponse">
		<wsdl:part element="xsd1:aggiornaDatiDocumentoTitolareContoOut" name="parameters"/>
	</wsdl:message>		
	<wsdl:message name="migrazioneContoMsgRequest">
		<wsdl:part element="xsd1:migrazioneContoIn" name="parameters"/>
	</wsdl:message>
	<wsdl:message name="migrazioneContoMsgResponse">
		<wsdl:part element="xsd1:migrazioneContoOut" name="parameters"/>
	</wsdl:message>		
	<wsdl:message name="riepilogoOperazioniMovimentazioneMsgRequest">
		<wsdl:part element="xsd1:riepilogoOperazioniMovimentazioneIn" name="parameters"/>
	</wsdl:message>
	<wsdl:message name="riepilogoOperazioniMovimentazioneMsgResponse">
		<wsdl:part element="xsd1:riepilogoOperazioniMovimentazioneOut" name="parameters"/>
	</wsdl:message>			
	<wsdl:message name="riepilogoOperazioniServizioMsgRequest">
		<wsdl:part element="xsd1:riepilogoOperazioniServizioIn" name="parameters"/>
	</wsdl:message>
	<wsdl:message name="riepilogoOperazioniServizioMsgResponse">
		<wsdl:part element="xsd1:riepilogoOperazioniServizioOut" name="parameters"/>
	</wsdl:message>
	<wsdl:message name="stornoMovimentazioneContoMsgRequest">
		<wsdl:part element="xsd1:stornoMovimentazioneContoIn" name="parameters"/>
	</wsdl:message>
	<wsdl:message name="stornoMovimentazioneContoMsgResponse">
		<wsdl:part element="xsd1:stornoMovimentazioneContoOut" name="parameters"/>
	</wsdl:message>
	<wsdl:portType name="ContiDiGiocoWS">
		<wsdl:operation name="aperturaContoPersonaFisica">
			<wsdl:input message="tns:aperturaContoPersonaFisicaMsgRequest"/>
			<wsdl:output message="tns:aperturaContoPersonaFisicaMsgResponse"/>
		</wsdl:operation>
		<wsdl:operation name="aperturaContoPersonaGiuridica">
			<wsdl:input message="tns:aperturaContoPersonaGiuridicaMsgRequest"/>
			<wsdl:output message="tns:aperturaContoPersonaGiuridicaMsgResponse"/>
		</wsdl:operation>
		<wsdl:operation name="movimentazioneConto">
			<wsdl:input message="tns:movimentazioneContoMsgRequest"/>
			<wsdl:output message="tns:movimentazioneContoMsgResponse"/>
		</wsdl:operation>
		<wsdl:operation name="movimentazioneBonusConto">
			<wsdl:input message="tns:movimentazioneBonusContoMsgRequest"/>
			<wsdl:output message="tns:movimentazioneBonusContoMsgResponse"/>
		</wsdl:operation>
		<wsdl:operation name="cambioStatoConto">
			<wsdl:input message="tns:cambioStatoContoMsgRequest"/>
			<wsdl:output message="tns:cambioStatoContoMsgResponse"/>
		</wsdl:operation>
		<wsdl:operation name="saldoConto">
			<wsdl:input message="tns:saldoContoMsgRequest"/>
			<wsdl:output message="tns:saldoContoMsgResponse"/>
		</wsdl:operation>
        <wsdl:operation name="modificaProvinciaResidenzaConto">
        	<wsdl:input message="tns:modificaProvinciaResidenzaContoMsgRequest"/>
        	<wsdl:output message="tns:modificaProvinciaResidenzaContoMsgResponse"/>
        </wsdl:operation>
        <wsdl:operation name="interrogazioneStatoConto">
        	<wsdl:input message="tns:interrogazioneStatoContoMsgRequest"/>
        	<wsdl:output message="tns:interrogazioneStatoContoMsgResponse"/>
        </wsdl:operation>
        <wsdl:operation name="subregistrazione">
        	<wsdl:input message="tns:subregistrazioneMsgRequest"/>
        	<wsdl:output message="tns:subregistrazioneMsgResponse"/>
        </wsdl:operation>
        <wsdl:operation name="aggiornaDatiDocumentoTitolareConto">
        	<wsdl:input message="tns:aggiornaDatiDocumentoTitolareContoMsgRequest"/>
        	<wsdl:output message="tns:aggiornaDatiDocumentoTitolareContoMsgResponse"/>
        </wsdl:operation>
        <wsdl:operation name="migrazioneConto">
        	<wsdl:input message="tns:migrazioneContoMsgRequest"/>
        	<wsdl:output message="tns:migrazioneContoMsgResponse"/>
        </wsdl:operation>                        
        <wsdl:operation name="riepilogoOperazioniMovimentazione">
        	<wsdl:input message="tns:riepilogoOperazioniMovimentazioneMsgRequest"/>
        	<wsdl:output message="tns:riepilogoOperazioniMovimentazioneMsgResponse"/>
        </wsdl:operation>                        
        <wsdl:operation name="riepilogoOperazioniServizio">
        	<wsdl:input message="tns:riepilogoOperazioniServizioMsgRequest"/>
        	<wsdl:output message="tns:riepilogoOperazioniServizioMsgResponse"/>
        </wsdl:operation>                        
		<wsdl:operation name="stornoMovimentazioneConto">
			<wsdl:input message="tns:stornoMovimentazioneContoMsgRequest"/>
			<wsdl:output message="tns:stornoMovimentazioneContoMsgResponse"/>
		</wsdl:operation>
    </wsdl:portType>
	<wsdl:binding name="ContiDiGiocoPortBinding" type="tns:ContiDiGiocoWS">
		<soap:binding style="document" transport="http://schemas.xmlsoap.org/soap/http"/>
		<wsdl:operation name="aperturaContoPersonaFisica">
			<soap:operation soapAction="http://ws.contidigioco.sogei.it/aperturaContoPersonaFisica"/>
			<wsdl:input>
				<soap:body use="literal"/>
			</wsdl:input>
			<wsdl:output>
				<soap:body use="literal"/>
			</wsdl:output>
		</wsdl:operation>
		<wsdl:operation name="aperturaContoPersonaGiuridica">
			<soap:operation soapAction="http://ws.contidigioco.sogei.it/aperturaContoPersonaGiuridica"/>
			<wsdl:input>
				<soap:body use="literal"/>
			</wsdl:input>
			<wsdl:output>
				<soap:body use="literal"/>
			</wsdl:output>
		</wsdl:operation>
		<wsdl:operation name="movimentazioneConto">
			<soap:operation soapAction="http://ws.contidigioco.sogei.it/movimentazioneConto"/>
			<wsdl:input>
				<soap:body use="literal"/>
			</wsdl:input>
			<wsdl:output>
				<soap:body use="literal"/>
			</wsdl:output>
		</wsdl:operation>
		<wsdl:operation name="movimentazioneBonusConto">
			<soap:operation soapAction="http://ws.contidigioco.sogei.it/movimentazioneBonusConto"/>
			<wsdl:input>
				<soap:body use="literal"/>
			</wsdl:input>
			<wsdl:output>
				<soap:body use="literal"/>
			</wsdl:output>
		</wsdl:operation>
		<wsdl:operation name="cambioStatoConto">
			<soap:operation soapAction="http://ws.contidigioco.sogei.it/cambioStatoConto"/>
			<wsdl:input>
				<soap:body use="literal"/>
			</wsdl:input>
			<wsdl:output>
				<soap:body use="literal"/>
			</wsdl:output>
		</wsdl:operation>
		<wsdl:operation name="saldoConto">
			<soap:operation soapAction="http://ws.contidigioco.sogei.it/saldoConto"/>
			<wsdl:input>
				<soap:body use="literal"/>
			</wsdl:input>
			<wsdl:output>
				<soap:body use="literal"/>
			</wsdl:output>
		</wsdl:operation>
		<wsdl:operation name="modificaProvinciaResidenzaConto">
			<soap:operation soapAction="http://ws.contidigioco.sogei.it/modificaProvinciaResidenzaConto"/>
			<wsdl:input>
				<soap:body use="literal"/>
			</wsdl:input>
			<wsdl:output>
				<soap:body use="literal"/>
			</wsdl:output>
		</wsdl:operation>
		<wsdl:operation name="interrogazioneStatoConto">
			<soap:operation soapAction="http://ws.contidigioco.sogei.it/interrogazioneStatoConto"/>
			<wsdl:input>
				<soap:body use="literal"/>
			</wsdl:input>
			<wsdl:output>
				<soap:body use="literal"/>
			</wsdl:output>
		</wsdl:operation>
		<wsdl:operation name="subregistrazione">
			<soap:operation soapAction="http://ws.contidigioco.sogei.it/subregistrazione"/>
			<wsdl:input>
				<soap:body use="literal"/>
			</wsdl:input>
			<wsdl:output>
				<soap:body use="literal"/>
			</wsdl:output>
		</wsdl:operation>
		<wsdl:operation name="aggiornaDatiDocumentoTitolareConto">
			<soap:operation soapAction="http://ws.contidigioco.sogei.it/aggiornaDatiDocumentoTitolareConto"/>
			<wsdl:input>
				<soap:body use="literal"/>
			</wsdl:input>
			<wsdl:output>
				<soap:body use="literal"/>
			</wsdl:output>
		</wsdl:operation>
		<wsdl:operation name="migrazioneConto">
			<soap:operation soapAction="http://ws.contidigioco.sogei.it/migrazioneConto"/>
			<wsdl:input>
				<soap:body use="literal"/>
			</wsdl:input>
			<wsdl:output>
				<soap:body use="literal"/>
			</wsdl:output>
		</wsdl:operation>								
		<wsdl:operation name="riepilogoOperazioniMovimentazione">
			<soap:operation soapAction="http://ws.contidigioco.sogei.it/riepilogoOperazioniMovimentazione"/>
			<wsdl:input>
				<soap:body use="literal"/>
			</wsdl:input>
			<wsdl:output>
				<soap:body use="literal"/>
			</wsdl:output>
		</wsdl:operation>								
		<wsdl:operation name="riepilogoOperazioniServizio">
			<soap:operation soapAction="http://ws.contidigioco.sogei.it/riepilogoOperazioniServizio"/>
			<wsdl:input>
				<soap:body use="literal"/>
			</wsdl:input>
			<wsdl:output>
				<soap:body use="literal"/>
			</wsdl:output>
		</wsdl:operation>								
		<wsdl:operation name="stornoMovimentazioneConto">
			<soap:operation soapAction="http://ws.contidigioco.sogei.it/stornoMovimentazioneConto"/>
			<wsdl:input>
				<soap:body use="literal"/>
			</wsdl:input>
			<wsdl:output>
				<soap:body use="literal"/>
			</wsdl:output>
		</wsdl:operation>
	</wsdl:binding>
	<wsdl:service name="ContiDiGiocoService">
		<wsdl:port binding="tns:ContiDiGiocoPortBinding" name="ContiDiGiocoPort">
			<soap:address location="http://localhost:9080/anag_conti_gioco/services/ContiDiGiocoPort"/>
		</wsdl:port>
	</wsdl:service>
</wsdl:definitions>